{%  if field.value %}
<div id="{{ field.uniqueId }}" class="w-25">
    <pre class="mr-2 d-inline"></pre>
    <button class="btn copy" data-copy="">
        <i class="fa fa-copy"></i>
    </button>
    <div id="progress" class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 0%"></div>
    </div>
</div>

<script>
    window.addEventListener("load", (event) => {
        const elementId = '{{ field.uniqueId }}';
        const code = '{{ field.value }}';

        if (code) {
            generateOTP('{{ field.value }}', elementId)
        }
    });
</script>
{% endif %}
